<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{{url_for('edit',index=index)}}" method="POST">
        <input type="text" name="todo" value="{{ todo['task'] }}">
        <button type="submit">save</button>
    </form>

</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
</head>
<body>
    <h1>Edit Todo</h1>

    <form action="{{ url_for('edit', index=index) }}" method="POST">
        <input type="text" name="todo" value="{{ todo['task'] }}" required>
        <button type="submit">Save</button>
    </form>

    <br>
    <a href="{{ url_for('index') }}">Back to Todos</a>

</body>
</html>
