<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MULTIUSER TODO APP</title>
    <head>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

</head>
<body>
    <h1>Todos</h1>
    <ul>
        {% for todo in todos %}
            <li style="display: flex; align-items: center; gap: 10px;">
    <form action="{{ url_for('check', index=loop.index0) }}" method="POST" style="display: inline;">
        <input type="checkbox"  {% if todo['done'] %} checked {% endif %} onchange="this.form.submit()">
    </form>
    <span {% if todo['done'] %} style="text-decoration: line-through;" {% endif %}>
        {{ todo['task'] }}
    </span>
    <a href="{{ url_for('edit', index=loop.index0) }}" style="margin-left: 10px;">Edit</a>
    <a href="{{ url_for('delete', index=loop.index0) }}" style="margin-left: 5px;">Delete</a>
</li>


        {% endfor %}
    </ul>
    <form action="{{ url_for('add') }}" method="POST">
        <input type="text" name="todo" required>
        <button type="submit">Add Todo</button>
    </form>
</body>
</html>
